*{
  
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

body {
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   background-color: #030321;
   
  }

.icons {
    display: flex; 
    justify-content:space-between;
    align-items: center;
}